@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Saira+Semi+Condensed&display=swap');
:root {
    --primary-color: #e45a0a;
    --secondary-color: #BFDCBC;
    --accent1-color: #F3F6F7;
    --accent2-color: #ADADAD;

    --heading-font: 'Kanit', sans-serif, monospace;
    --paragraph-font: 'Saira Semi Condensed' ,sans-serif, display;

    --nav-background-color: darkblue;
    --nav-link-color: white;
    --nav-hover-link-color: #DBA159;
    --nav-hover-background-color: #F3F6F7;
    --hero-article-background-color: #f3f6f78e;
    --hero-h1-background-color: #111111d8;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 10px;
    background-color: var(--accent1-color);
    display: grid;
	grid-template-columns: 1fr 2fr;
    text-transform: capitalize;
}

header img {
    height: 60px;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    margin: -161px 0 0 0;
}

.hero h1 {
    position: absolute;
    top: 0;
    background-color: var(--hero-h1-background-color);
    width: 100%;
    padding: 0px 0px 0px 355px;
}

.hero article {
    position: absolute;
    top: 85px;
    left: 0;
    background-color: var(--hero-article-background-color);
    padding: 12px;
    margin: 0 165px;
}

.hero article img {
    float: right;
    width: 40%;
}

.history {
    margin: 20px 0;
    border: 10px solid var(--accent1-color);
}

.history p {
    text-align: justify;
    padding: 5px 10px;
    margin: 5px 10px;
}

.history h2 {
    text-align: center;
}

.adventure h2 {
    text-align: center;
}

.adventure-gallery {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.adventure-gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
  
.adventure-gallery img {
    max-width: 220px;
    max-height: 150px;
}

.adventure-gallery figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.sociallinks {
    background-color: inherit;
}

.sociallinks img {
    height: 40px;
}

.sociallinks a {
    font-size: 1rem;
    padding: 10px;
}

footer {
    background-color: var(--accent2-color);
    display: grid;
	grid-template-columns: 4fr 1fr;
    margin: 20px 0 0;
}

footer a {
    color: black;
}

footer p {
    text-align: center;
    padding: 11px;
    margin: 5px auto;
}

.contact_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_info li {
    list-style-type: none;
}

.contact_info {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 550px;
    height: 300px;
    border: 10px solid var(--accent1-color);
}

.maps {
    margin: 20px;
}

.employee_profile {
    border: 10px solid var(--accent1-color);
}

.employee_profile h2 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    background-color: #badbad;
    width: 550px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}
form p {
    margin: 0;
    padding: 0;
}

form textarea {
    width: 90%;
}

.radio_button input {
    width: 15.5px;
    height: 15.5px;
    margin: 10px;
}

.input_label {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.input_label input {
    width: 375px;
}

input, textarea {
    padding: 3px 5px;
}

.newsletter input {
    height: 15px;
    width: 15px;
    margin: 10px;
}

button {
    margin: 0.5rem;
    background-color: white;
    color: darkgreen;
    border: 2px solid darkgreen;
    border-radius: .5rem;
    padding: .30rem;
    font-size: 1rem;
    align-self: center;
}

button:hover {
    background-color: #fadfad;
}

.book_it {
    display: flex;
    border: 10px solid var(--accent1-color);
    height: 150px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background_photo_contact_link.webp");
    background-size: cover;
    background-position-y: bottom;
}

 .book_it a {
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--nav-link-color);
    color: var(--nav-background-color);
    padding: 15px;
    border-radius: .5rem;
 }

.book_it a:hover {
    color: var(--nav-hover-link-color);
}

.trip_favorites {
    height: 300px;
    margin: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.trip_favorites .figure_block {
    border: 10px solid var(--accent1-color);
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    height: 260px;
}

.trip_favorites .figure_block img {
    max-width: 250px;
    max-height: 175px;
}

.trip_favorites .figure_block figure {
    display: flex;
    flex-flow: column;
    height: 250px;
    margin: auto;
}

.trip_favorites .figure_block figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.trip_favorites .figure_block p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.trip_details {
    display: flex;
    flex-flow: column;
    height: 400px;
    margin: 10px 0;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trip_details table {
    border-collapse: collapse;
    width: 900px;
    border: 2px solid darkblue;
}

.trip_details td {
    border: 2px solid darkblue;
}

.message {
    border: thin solid black;
    height: 400px;
    margin: 10px;
}

.message img {

}

.lower {
    display: flex;
    justify-content: space-between;
}

.lower_left {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 48%;
    margin: 10px;
}

.newsletter_form form {
    display: flex;
    flex-flow: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    background-color: #badbad;
    width: 92%;
    margin: 0 auto;
    padding: .5rem 1rem;
}

.newsletter_form form p {
    text-align: center;
}

.newsletter_form form input {
    margin: 0 5px;
}

.photo_gallery {
    display: flex;
    height: 270px;
    gap: 10px;
}

.photo_gallery img {
    max-width: 175px;
    max-height: 175px;
}

.photo_gallery .figure_block {
    border: 10px solid var(--accent1-color);
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
}

.photo_gallery .figure_block figure {
    display: flex;
    flex-flow: column;
    height: 250px;
    margin: auto;
}

.photo_gallery .figure_block figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.photo_gallery .figure_block p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.lower_right {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 48%;
    margin: 10px;
}

.visit_trip_page {
    display: flex;
    border: 10px solid var(--accent1-color);
    height: 195px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position-y: bottom;
}

 .visit_trip_page a {
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--nav-link-color);
    color: var(--nav-background-color);
    padding: 15px;
    border-radius: .5rem;
 }

.visit_trip_page a:hover {
    color: var(--nav-hover-link-color);
}

.hero.home h1 {
    color: var(--nav-background-color);
    background-color: var(--hero-article-background-color);
    padding: 0px 0px 0px 200px;
    font-size: 80px;
}

.hero.home h2 {
    color: var(--nav-background-color);
    position: absolute;
    top: 126px;
    background-color: var(--hero-article-background-color);
    width: 100%;
    padding: 0px 0px 0px 415px;
}