@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Saira+Semi+Condensed&display=swap');
:root {
    --primary-color: #e45a0a;
    --secondary-color: #BFDCBC;
    --accent1-color: #F3F6F7;
    --accent2-color: #ADADAD;

    --heading-font: 'Kanit', sans-serif, monospace;
    --paragraph-font: 'Saira Semi Condensed' ,sans-serif, display;

    --nav-background-color: darkblue;
    --nav-link-color: white;
    --nav-hover-link-color: #DBA159;
    --nav-hover-background-color: #F3F6F7;
    --hero-article-background-color: #f3f6f78e;
    --hero-h1-background-color: #111111d8;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 10px;
    background-color: var(--accent1-color);
    display: grid;
	grid-template-columns: 1fr 2fr;
    text-transform: capitalize;
}

header img {
    height: 60px;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    margin: -161px 0 0 0;
}

.hero h1 {
    position: absolute;
    top: 0;
    background-color: var(--hero-h1-background-color);
    width: 100%;
    padding: 0px 0px 0px 355px;
}

.hero article {
    position: absolute;
    top: 85px;
    left: 0;
    background-color: var(--hero-article-background-color);
    padding: 12px;
    margin: 0 165px;
}

.hero article img {
    float: right;
    width: 40%;
}

.history {
    margin: 20px 0;
    border: 10px solid var(--accent1-color);
}

.history p {
    text-align: justify;
    padding: 5px 10px;
    margin: 5px 10px;
}

.history h2 {
    text-align: center;
}

.adventure h2 {
    text-align: center;
}

.adventure-gallery {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.adventure figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
  
.adventure img {
    max-width: 220px;
    max-height: 150px;
}

.adventure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.sociallinks {
    background-color: inherit;
}

.sociallinks img {
    height: 40px;
}

.sociallinks a {
    font-size: 1rem;
    padding: 10px;
}

footer {
    background-color: var(--accent2-color);
    display: grid;
	grid-template-columns: 4fr 1fr;
    margin: 20px 0 0;
}

footer p {
    text-align: center;
    padding: 11px;
    margin: 5px auto;
}
  